 * {
   margin: 0;
   padding: 0;
 }

 body.chakra-ui-light,
 html {
   margin: 0;
   background-color: #9c9999;
   width: 100%;
   height: 100%;
  font-family: 'Kanit', sans-serif;
 
 }
 #root{
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
 }